logic-apps/lab-avancado-credit-approval.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "description": "Logic App - Credit Approval para Lab Avancado. Recebe requisicoes de verificacao de credito da Durable Function checkCredit. Para valores > 10000 envia email de aprovacao; para valores entre 5000-10000 aprova automaticamente com delay simulando revisao.",
    "lab": "lab-avancado-dashboard",
    "service": "logic-app-credit"
  },
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "logic-lab-avancado-credit-approval"
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    },
    "approverEmail": {
      "type": "string",
      "defaultValue": "admin@contoso.com",
      "metadata": {
        "description": "Email do aprovador para pedidos > R$ 10.000"
      }
    }
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "tags": {
        "lab": "lab-avancado",
        "purpose": "credit-approval"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "approverEmail": {
              "type": "String",
              "defaultValue": "[parameters('approverEmail')]"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "method": "POST",
                "schema": {
                  "type": "object",
                  "properties": {
                    "orderId": { "type": "string" },
                    "customerName": { "type": "string" },
                    "totalAmount": { "type": "number" }
                  },
                  "required": ["orderId", "totalAmount"]
                }
              }
            }
          },
          "actions": {
            "Initialize_Result": {
              "type": "InitializeVariable",
              "runAfter": {},
              "inputs": {
                "variables": [
                  {
                    "name": "approvalResult",
                    "type": "object",
                    "value": {
                      "approved": true,
                      "reviewer": "auto"
                    }
                  }
                ]
              }
            },
            "Check_Amount_Threshold": {
              "type": "If",
              "runAfter": {
                "Initialize_Result": ["Succeeded"]
              },
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@triggerBody()?['totalAmount']",
                      10000
                    ]
                  }
                ]
              },
              "actions": {
                "Send_Approval_Email": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['office365']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/approvalmail/$subscriptions",
                    "body": {
                      "NotificationUrl": "@{listCallbackUrl()}",
                      "Message": "Pedido @{triggerBody()?['orderId']} de @{triggerBody()?['customerName']} requer aprovacao.\n\nValor total: R$ @{triggerBody()?['totalAmount']}\n\nAprovar ou rejeitar este pedido?",
                      "Subject": "[Lab Avancado] Aprovacao de Credito - Pedido @{triggerBody()?['orderId']}",
                      "Options": "Aprovar, Rejeitar",
                      "Importance": "High",
                      "To": "@parameters('approverEmail')"
                    }
                  },
                  "metadata": {
                    "description": "Envia email de aprovacao para pedidos > R$ 10.000. Em ambiente de lab, este conector pode ser substituido por um delay simulando a aprovacao."
                  }
                },
                "Set_Email_Result": {
                  "type": "SetVariable",
                  "runAfter": {
                    "Send_Approval_Email": ["Succeeded"]
                  },
                  "inputs": {
                    "name": "approvalResult",
                    "value": {
                      "approved": "@equals(body('Send_Approval_Email')?['SelectedOption'], 'Aprovar')",
                      "reviewer": "email"
                    }
                  }
                }
              },
              "else": {
                "actions": {
                  "Auto_Approve_With_Delay": {
                    "type": "Wait",
                    "inputs": {
                      "interval": {
                        "count": 3,
                        "unit": "Second"
                      }
                    },
                    "metadata": {
                      "description": "Simula revisao automatica para valores entre R$ 5.000 e R$ 10.000"
                    }
                  },
                  "Set_Auto_Result": {
                    "type": "SetVariable",
                    "runAfter": {
                      "Auto_Approve_With_Delay": ["Succeeded"]
                    },
                    "inputs": {
                      "name": "approvalResult",
                      "value": {
                        "approved": true,
                        "reviewer": "auto"
                      }
                    }
                  }
                }
              }
            },
            "Response": {
              "type": "Response",
              "runAfter": {
                "Check_Amount_Threshold": ["Succeeded"]
              },
              "inputs": {
                "statusCode": 200,
                "headers": {
                  "Content-Type": "application/json"
                },
                "body": {
                  "approved": "@variables('approvalResult')?['approved']",
                  "reviewer": "@variables('approvalResult')?['reviewer']",
                  "orderId": "@triggerBody()?['orderId']",
                  "totalAmount": "@triggerBody()?['totalAmount']",
                  "processedAt": "@utcNow()"
                }
              }
            }
          },
          "outputs": {}
        }
      }
    }
  ]
}
